<div class="container" *ngIf="medias">
  <div class="row">

    <div class="col-lg-12">
      <div class="content">
        <div class="row text-center">
          <div *ngFor="let item of currentMedias" class="col-sm-3">
            <div class="thumbnail">

              <div matTooltip='Image is activated. Deactivate image?' *ngIf="item.flag" class="flag" [style.background-color]="'greenyellow'" [matMenuTriggerFor]="menu"></div>
              <div matTooltip='Image is deactivated. Activate image?' *ngIf="!item.flag" class="flag" [style.background-color]="'red'" [matMenuTriggerFor]="menu"></div>

              <mat-menu #menu="matMenu">
                <p class="menu-header">Are you sure?</p>
                <button (click)="setFlag(item)" mat-menu-item>
                  <span>Accept</span>
                </button>
                <button mat-menu-item>
                  <span>Cancel</span>
                </button>
              </mat-menu>

              <div class="image">
                <img class="thumb" src="../../../../../assets/images/{{item.media}}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <mat-paginator (page)="loadPage()" [length]="medias.length" [pageSize]="pageSize">
  </mat-paginator>

</div>
